<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/about.css">
    <title>About</title>
</head>
<body>
    <div class="about">
        <h4>This is the about page</h4>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Neque modi minima nihil, ea pariatur enim fugiat, veniam eum aperiam earum eligendi 
            sunt cum odit architecto doloremque voluptates cumque vitae. Quia.
        </div>
        <div>
            <button onclick="location.replace('/')">Home Page</button>
        </div>
    </div>
</body>
</html>